.card-img-top {
    max-height: 200px;
    // margin: auto;
    // width: max-content;
    object-fit: contain;
}

.card-footer {
    border-top: none;
    background-color: transparent;
}

.article {
    img {
        max-width: 200px;
    }
}