{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ article.imageLink }}" class="text-center card-img-top" alt="Image indisponible">

                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">
                            {{ article.content|slice(0, 100) ~ '...' }}    
                        </p>
                    </div>

                    <div class="card-footer text-end">
                        <small class="text-muted">
                            <button class="btn btn-primary">Lire la suite</button>
                        </small>
                    </div>
                </div>
            </div>
        {% else %}
            Aucun article trouvé
        {% endfor %}
    </div>
</div>
{% endblock %}
